 
<%- include('../templates/header'); -%>

<div class="content">

    <form action="/place-find">

        <div class="row-end">
            <input id="latitudeInput" class="input" name="latitude" type="text" placeholder="latitude" value="<%=input.latitude %>">
            <input id="longitudeInput" class="input" name="longitude"type="text" placeholder="longitude" value="<%=input.longitude %>">
            <button type="button" class="button" onclick="requestLocation()">find position</button>
        </div>
        
        <div class="row-end">
            <label for="distanceSelect">search radius:</label>
            <select class="input" name="radius" id="distanceSelect" onchange="updateDistanceSelect()">
                <option value="1"       <% if (input.radius == 1) { %> selected <% } %>>1 km</option>
                <option value="2"       <% if (input.radius == 2) { %> selected <% } %>>2 km</option>
                <option value="3"       <% if (input.radius == 3) { %> selected <% } %>>3 km</option>
                <option value="5"       <% if (input.radius == 5) { %> selected <% } %>>5 km</option>
                <option value="10"      <% if (input.radius == 10) { %> selected <% } %>>10 km</option>
                <option value="15"      <% if (input.radius == 15) { %> selected <% } %>>15 km</option>
                <option value="20"      <% if (input.radius == 20) { %> selected <% } %>>20 km</option>
                <option value="custom"  <% if (input.radius == 'custom') { %> selected <% } %>>custom (km)</option>
            </select>
            
            <input class="input" type="number" min="1" max="100" id="distanceInput" style="display: none;">
        
            <label for="amenitySelect">amenity:</label>
            <select class="input" name="amenity" selected="<%= input.amenity %>" id="amenitySelect">
                <option <% if (input.amenity == 'restaurant') { %> selected <% } %> value ="restaurant">restaurant</option>
                <option <% if (input.amenity == 'cafe') { %> selected <% } %>       value ="cafe">cafe</option>
                <option <% if (input.amenity == 'fast_food') { %> selected <% } %>  value ="fast_food">fast food</option>
            </select>
        </div>

        <div class="row-end">
            <input id ="bbox-input" <% if (boxerror == true) { %> class="input empty-error" <% } else { %> class="input" <%} %> name="box" value=" <%= input.box %> " placeholder="51.4,-1,51,0">
            <button class="button" type="button" onclick="calculateBoundingBox()">calculate bounding-box</button>
        </div>

        <div class="row-end">
            <button class="button">find places</button>
        </div>

    </form>

    <%- include('../templates/colToggleButtons'); -%>

    <br>

    <% if(places == undefined){%>
        no places found
    <% } else {  %>
        
        <div class="head-row">
            <% for (let i = 0 ; i < placecols.length; i++ ) { %>

                <div id="header-col-<%=i%>" class="col-size-1" data-tooltip="<%=placecols[i]%>">
                    <b><%=placecols[i]%></b>
                </div>

            <% } %>
            <div class="col-size-2" data-tooltip="Actions"><b>Actions</b></div>

        </div>
        
        <% places.forEach(function(place) { %>
            <div class="body-row">
                
                <%-include('../templates/placecols', {place: place, placecols: placecols}); %>

                <% if (Object.values(downloadedPlaces).indexOf( place.id) != -1 ) { %>
                    <div class=" col-size-2 link-button">
                        <img title="place already downloaded" alt="place already downloaded" src="../../public/style/assets/icon-cant-download.png">
                    </div>
                <% } else { %>
                    <div class="col-size-2">
                        <a class="link-button" href="/place-add/<%= encodeURIComponent(JSON.stringify(place)) %>">
                            <img title="download place" alt="download place" src="../../public/style/assets/icon-download.png">
                        </a>
                    </div>
                <% } %>
                
            </div>  
        <% }); %>
    <%}%>
</div>

<script src="../../public/scripts/find.js"></script>