 
<%- include('../header'); -%>

<div class="content">

    <form action="/place-find">

        <div class="row-end">
            
            <input class="input" type="text" placeholder="latitude" id="latitudeInput">
            
            <input class="input"type="text" placeholder="longitude" id="longitudeInput">
            
            <button type="button" class="button" onclick="requestLocation()">find position</button>
        </div>

        <div class="row-end">
            <label for="distanceSelect">search radius:</label>
            <select class="input" id="distanceSelect" onchange="updateDistanceSelect()">
                <option value="1">1 km</option>
                <option value="2">2 km</option>
                <option value="3">3 km</option>
                <option value="5">5 km</option>
                <option value="10">10 km</option>
                <option value="15">15 km</option>
                <option value="20">20 km</option>
                <option value="custom">custom (km)</option>
            </select>
            <input class="input" type="number" min="1" max="100" id="distanceInput" style="display: none;">
        
            <label for="amenitySelect">Amenity:</label>
            <select class="input" name="amenity" id="amenitySelect">
                <option value ="restaurant">restaurant</option>
            </select>
        </div>

        <div class="row-end">
            <input class="input" name="box" id ="bbox-input" class="bbox-input" placeholder="51.4,-1,51,0">
            <button class="button" type="button" onclick="calculateBoundingBox()">calculate bounding-box</button>
        </div>

        <div class="row-end">
            <button class="button">find places</button>
        </div>
    </form>

    <div class="head-row">
        <div class="col-1"                  data-tooltip="Id"><b>OSM Node</b></div>
        <div class="col-1"                  data-tooltip="Name"><b>Name</b></div>
        <div class="col-2 hide-mobile"      data-tooltip="Email"><b>Email</b></div>
        <div class="col-2 hide-mobile"      data-tooltip="Website"><b>Website</b></div>
        <div class="col-2 hide-mobile"      data-tooltip="Opening_hours"><b>Opening Hours</b></div>
        <div class="col-1 hide-mobile"      data-tooltip="Lat"><b>Lat</b></div>
        <div class="col-1 hide-mobile"      data-tooltip="Long"><b>Long</b></div>
        <div class="col-1 hide-mobile"      data-tooltip="City"><b>City</b></div>
        <div class="col-1 hide-mobile"      data-tooltip="PLZ"><b>PLZ</b></div>
        <div class="col-2 hide-mobile"      data-tooltip="Street"><b>Street</b></div>
        <div class="col-1 hide-mobile"      data-tooltip="Number"><b>Number</b></div>
        <div class="col-1 hide-mobile"      data-tooltip="Cuisine"><b>Cuisine</b></div>
        <div class="col-1 hide-mobile"      data-tooltip="Vegan"><b>Vegan</b></div>
        <div class="col-1 hide-mobile"      data-tooltip="Vegetarian"><b>Vegetarian</b></div>
        <div class="col-2"                  data-tooltip="actions"><b>Actions</b></div>
    </div>
    
    <% if(places == undefined){%>
        no places found
    <% } else {  %>
        <% places.forEach(function(place) { %>
            <div class="body-row">
                <div class="col-1"              data-tooltip=   <%= place.id %>                 ><%= place.id %></div>
                <div class="col-1"              data-tooltip=   <%= place.name %>               ><%= place.name %></div>
                <div class="col-2 hide-mobile"  data-tooltip=   <%= place.email %>              ><%= place.email %></div>
                <div class="col-2 hide-mobile"  data-tooltip=   <%= place.website %>            ><%= place.website %></div>
                <div class="col-2 hide-mobile"  data-tooltip=   <%= place.opening_hours %>      ><%= place.opening_hours %></div>
                <div class="col-1 hide-mobile"  data-tooltip=   <%= place.lat %>                ><%= place.lat %></div>
                <div class="col-1 hide-mobile"  data-tooltip=   <%= place.long %>               ><%= place.long %></div>
                <div class="col-1 hide-mobile"  data-tooltip=   <%= place.city %>               ><%= place.city %></div>
                <div class="col-1 hide-mobile"  data-tooltip=   <%= place.postcode %>           ><%= place.postcode %></div>
                <div class="col-2 hide-mobile"  data-tooltip=   <%= place.street %>             ><%= place.street %></div>
                <div class="col-1 hide-mobile"  data-tooltip=   <%= place.housenumber %>        ><%= place.housenumber %></div>
                <div class="col-1 hide-mobile"  data-tooltip=   <%= place.cuisine %>            ><%= place.cuisine %></div>
                <div class="col-1 hide-mobile"  data-tooltip=   <%= place.diet_vegan %>         ><%= place.diet_vegan %></div>
                <div class="col-1 hide-mobile"  data-tooltip=   <%= place.diet_vegetarian %>    ><%= place.diet_vegetarian %></div>
                <div class="col-2">
                    <a class="link-button" href="/place-add/<%= encodeURIComponent(JSON.stringify(place)) %>">
                        <img title="download place" alt="download place" src="../../public/style/assets/icon-download.png">
                    </a>
                </div>
            </div>  
        <% }); %>
    <%}%>
</div>

<script>

function showPosition(position) {
    document.getElementById('latitudeInput').value = position.coords.latitude;
    document.getElementById('longitudeInput').value = position.coords.longitude;
}

function requestLocation()
{
    if(navigator.geolocation)
    {
        navigator.geolocation.getCurrentPosition(showPosition)
    }
    else 
    {
        allert("Geolocation wird von diesem Browser leider nicht unterstützt");
    }
}

function updateDistanceSelect()
{
    if (distanceSelect.value === 'custom') {
        distanceInput.style.display = 'inline-block';
        distanceInput.value = '';
        distanceInput.focus();
    } 
    else 
    {
        distanceInput.style.display = 'none';
    }
}


function calculateBoundingBox() {

    latitude = document.getElementById('latitudeInput').value;
    longitude = document.getElementById('longitudeInput').value;
    if(document.getElementById('distanceSelect').value != 'custom')
    {
        distance = document.getElementById('distanceSelect').value;
    } else 
    {
        distance = document.getElementById('distanceInput').value;
    }

    // Radius der Erde in Kilometern
    const earthRadius = 6371;
    const halfGlobe = 180;

    // Konvertierung der Entfernung von Kilometer in Bogenmaß
    var distanceRad = distance / earthRadius;

    // Konvertierung von Breiten- und Längengraden in Bogenmaß
    var latRad = latitude * Math.PI / halfGlobe;
    var lonRad = longitude * Math.PI / halfGlobe;

    // Berechnung der Breiten- und Längengrad-Differenzen für die Bounding-Box
    var deltaLat = distanceRad * (halfGlobe / Math.PI);
    var deltaLon = distanceRad * (halfGlobe / Math.PI) / Math.cos(latRad);

    // Berechnung der Bounding-Box Koordinaten
    var minLat = (latitude  - deltaLat).toFixed(3);
    var maxLat = (parseFloat(latitude)  + parseFloat(deltaLat)).toFixed(3);
    var minLon = (longitude - deltaLon).toFixed(3);
    var maxLon = (parseFloat(longitude) + parseFloat(deltaLon)).toFixed(3);

    console.log(
        minLat
        + '+' + maxLat
        + '+' + minLon
        + '+' + maxLon
    );

    // document.getElementById('bbox-input').value = minLon + ',' + minLat + ',' + maxLon + ',' + maxLat;
    document.getElementById('bbox-input').value = minLat + ',' + minLon + ',' + maxLat + ',' + maxLon;
}

</script>