<!DOCTYPE html>
<html>
    
    <%- include('../header'); -%>

    <body>
        <h1>Place Find</h1>
        <p>bbox-string:</p>
        <button onclick="requestLocation()">get current location</button>
        <form action="/place-find">
            
            <div class="row">
                <input name="box" class="bbox-input" placeholder="51.4,-1,51,0">
                <button>find</button>
            </div>
        </form>
        <% if(places == undefined){%>
            no places yet
        <% } else {  %>
            <div class="head-row">
                <div class="col-1"                  data-tooltip="Id"><b>OSM Node</b></div>
                <div class="col-1"                  data-tooltip="Name"><b>Name</b></div>
                <div class="col-2 hide-mobile"      data-tooltip="Email"><b>Email</b></div>
                <div class="col-2 hide-mobile"      data-tooltip="Website"><b>Website</b></div>
                <div class="col-2 hide-mobile"      data-tooltip="Opening_hours"><b>Opening Hours</b></div>
                <div class="col-1 hide-mobile"      data-tooltip="Lat"><b>Lat</b></div>
                <div class="col-1 hide-mobile"      data-tooltip="Long"><b>Long</b></div>
                <div class="col-1 hide-mobile"      data-tooltip="City"><b>City</b></div>
                <div class="col-1 hide-mobile"      data-tooltip="PLZ"><b>PLZ</b></div>
                <div class="col-2 hide-mobile"      data-tooltip="Street"><b>Street</b></div>
                <div class="col-1 hide-mobile"      data-tooltip="Number"><b>Number</b></div>
                <div class="col-1 hide-mobile"      data-tooltip="Cuisine"><b>Cuisine</b></div>
                <div class="col-1 hide-mobile"      data-tooltip="Vegan"><b>Vegan</b></div>
                <div class="col-1 hide-mobile"      data-tooltip="Vegetarian"><b>Vegetarian</b></div>
                <div class="col-2"                  data-tooltip="actions"><b>Actions</b></div>
            </div>
            
            <% places.forEach(function(place) { %>
                <div class="body-row">
                    <div class="col-1"              data-tooltip=   <%= place.id %>                 ><%= place.id %></div>
                    <div class="col-1"              data-tooltip=   <%= place.name %>               ><%= place.name %></div>
                    <div class="col-2 hide-mobile"  data-tooltip=   <%= place.email %>              ><%= place.email %></div>
                    <div class="col-2 hide-mobile"  data-tooltip=   <%= place.website %>            ><%= place.website %></div>
                    <div class="col-2 hide-mobile"  data-tooltip=   <%= place.opening_hours %>      ><%= place.opening_hours %></div>
                    <div class="col-1 hide-mobile"  data-tooltip=   <%= place.lat %>                ><%= place.lat %></div>
                    <div class="col-1 hide-mobile"  data-tooltip=   <%= place.long %>               ><%= place.long %></div>
                    <div class="col-1 hide-mobile"  data-tooltip=   <%= place.city %>               ><%= place.city %></div>
                    <div class="col-1 hide-mobile"  data-tooltip=   <%= place.postcode %>           ><%= place.postcode %></div>
                    <div class="col-2 hide-mobile"  data-tooltip=   <%= place.street %>             ><%= place.street %></div>
                    <div class="col-1 hide-mobile"  data-tooltip=   <%= place.housenumber %>        ><%= place.housenumber %></div>
                    <div class="col-1 hide-mobile"  data-tooltip=   <%= place.cuisine %>            ><%= place.cuisine %></div>
                    <div class="col-1 hide-mobile"  data-tooltip=   <%= place.diet_vegan %>         ><%= place.diet_vegan %></div>
                    <div class="col-1 hide-mobile"  data-tooltip=   <%= place.diet_vegetarian %>    ><%= place.diet_vegetarian %></div>
                    <div class="col-2">
                        <a href="/place-add/<%= JSON.stringify(place) %>">save</a>
                    </div>
                </div>  
            <% }); %>
        <%}%>
    </body>
</html>
<script>

const successCallback = (position) => {
    console.log(position);
};
  
const errorCallback = (error) => {
    console.log(error);
};

function requestLocation()
{
    navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
    successCallback();
}

</script>