<%- include('../templates/header'); -%>

<div class="content">

    <div class="row-end">
        <form>
            <select class="input" name="orderby">
                <% for (let i = 0 ; i < placerows.length; i++ ) { %>
                    <option value="<% placerows[i]%>"><%= placerows[i]%></option>
                <% } %>
            </select>

            <select class="input" name="orderdirection">
                <option value="asc">ascending</option>
                <option value="desc">descending</option>
            </select>

            <button class="button">order by</button>
        </form>
    </div>

    <%- include('../templates/rowToggleButtons'); -%>


    <div class="head-row">
        <% for (let i = 0 ; i < placerows.length; i++ ) { %>

            <div id="row-<%=i%>" class="col-size-1" data-tooltip="<%=placerows[i]%>">
                <b><%=placerows[i]%></b>
            </div>

        <% } %>
        <div class="col-size-2" data-tooltip="Actions"><b>Actions</b></div>
    </div>

    <% places.forEach(function(place) { %>
        <div class="body-row">
            <div class="col-size-1 row-0"   data-tooltip=   <%= place.id %>                 ><%= place.id               != null ? place.id               : '-'%></div>
            <div class="col-size-1 row-1"   data-tooltip=   <%= place.name %>               ><%= place.name             != null ? place.name             : '-'%></div>
            <div class="col-size-1 row-2"   data-tooltip=   <%= place.email %>              ><%= place.email            != null ? place.email            : '-'%></div>
            <div class="col-size-1 row-3"   data-tooltip=   <%= place.operator %>           ><%= place.operator         != null ? place.operator         : '-'%></div>
            <div class="col-size-1 row-4"   data-tooltip=   <%= place.website %>            ><%= place.website          != null ? place.website          : '-'%></div>
            <div class="col-size-1 row-5"   data-tooltip=   <%= place.opening_hours %>      ><%= place.opening_hours    != null ? place.opening_hours    : '-'%></div>  
            <div class="col-size-1 row-6"   data-tooltip=   <%= place.lat %>                ><%= place.lat              != null ? place.lat              : '-'%></div>
            <div class="col-size-1 row-7"   data-tooltip=   <%= place.long %>               ><%= place.long             != null ? place.long             : '-'%></div>
            <div class="col-size-1 row-8"   data-tooltip=   <%= place.city %>               ><%= place.city             != null ? place.city             : '-'%></div>
            <div class="col-size-1 row-9"   data-tooltip=   <%= place.postcode %>           ><%= place.postcode         != null ? place.postcode         : '-'%></div>
            <div class="col-size-1 row-10"  data-tooltip=   <%= place.street %>             ><%= place.street           != null ? place.street           : '-'%></div>
            <div class="col-size-1 row-11"  data-tooltip=   <%= place.housenumber %>        ><%= place.housenumber      != null ? place.housenumber      : '-'%></div>
                
            <div class="col-size-1 row-12"  data-tooltip=   <%= place.wheelchair %>         ><%= place.wheelchair       != null ? place.wheelchair       : '-'%></div>
            <div class="col-size-1 row-13"  data-tooltip=   <%= place.outdoor_seating %>    ><%= place.outdoor_seating  != null ? place.outdoor_seating  : '-'%></div>
            <div class="col-size-1 row-14"  data-tooltip=   <%= place.dog %>                ><%= place.dog              != null ? place.dog              : '-'%></div>    
            <div class="col-size-1 row-15"  data-tooltip=   <%= place.cuisine %>            ><%= place.cuisine          != null ? place.cuisine          : '-'%></div>
            <div class="col-size-1 row-16"  data-tooltip=   <%= place.lunch %>              ><%= place.lunch            != null ? place.lunch            : '-'%></div>
            <div class="col-size-1 row-17"  data-tooltip=   <%= place.organic %>            ><%= place.organic          != null ? place.organic          : '-'%></div>
            <div class="col-size-1 row-18"  data-tooltip=   <%= place.takeaway %>           ><%= place.takeaway         != null ? place.takeaway         : '-'%></div>   
            <div class="col-size-1 row-19"  data-tooltip=   <%= place.diet_kosher %>        ><%= place.diet_kosher      != null ? place.diet_kosher      : '-'%></div>
            <div class="col-size-1 row-20"  data-tooltip=   <%= place.diet_diabetes %>      ><%= place.diet_diabetes    != null ? place.diet_diabetes    : '-'%></div>
            <div class="col-size-1 row-21"  data-tooltip=   <%= place.diet_halal %>         ><%= place.diet_halal       != null ? place.diet_halal       : '-'%></div>
            <div class="col-size-1 row-22"  data-tooltip=   <%= place.diet_vegan %>         ><%= place.diet_vegan       != null ? place.diet_vegan       : '-'%></div>
            <div class="col-size-1 row-23"  data-tooltip=   <%= place.diet_vegetarian%>     ><%= place.diet_vegetarian  != null ? place.diet_vegetarian  : '-'%></div>

            <div class="col-2">
                <a class="link-button" href="/place/<%=place.id%>">
                    <img title="show place" alt="show place" src="../../public/style/assets/icon-show.png">
                </a>
                <a class="link-button" href="place-delete/<%=place.id%>">
                    <img title="delete place" alt="delete place" src="../../public/style/assets/icon-delete.png">
                </a>
            </div>
        </div>  
    <% }); %>
</div>