<%- include('../templates/header'); -%>

<div class="content">

    <div class="row-end">
        <form action="place-index">
            <select class="input" name="amenity" %>">
                <% for (let i = 0 ; i < availablePlaceTypes.length; i++ ) { %>
                    <option <% if (input.amenity == availablePlaceTypes[i]) { %> selected <% } %> value="<%= availablePlaceTypes[i]%>"><%= availablePlaceTypes[i]%></option>
                <% } %>
            </select>

            <button class="button">select place type</button>
        </form>
    </div>

    <% if(places != undefined){%>
        <div class="row-end">
            <form action="/place-index">
                <select class="input" name="orderby" selected="<%=input.orderby %>">
                    <% for (let i = 0 ; i < placeAttributes.length; i++ ) { %>
                        <option <% if (input.orderby == placeAttributes[i]) { %> selected <% } %> value="<%= placeAttributes[i]%>"><%= placeAttributes[i]%></option>
                    <% } %>
                </select>

                <select class="input" name="orderdirection">
                    <option <% if (input.orderdirection == 'asc')   { %> selected <% } %> value="asc">ascending</option>
                    <option <% if (input.orderdirection == 'desc')  { %> selected <% } %> value="desc">descending</option>
                </select>

                <input type="hidden" name="amenity" value="<%=input.amenity%>">

                <button class="button">order by</button>
            </form>
        </div>
        
        <%- include('../templates/colToggleButtons'); -%>
    <% } %>
    

    <% if(places != undefined){%>
        <div class="head-row">
            <% for (let i = 0 ; i < placeAttributes.length; i++ ) { %>

                <div id="header-col-<%=i%>" class="place-col" data-tooltip="<%=placeAttributes[i]%>">
                    <b><%=placeAttributes[i]%></b>
                </div>

            <% } %>
            <div class="col-size-2" data-tooltip="Actions"><b>Actions</b></div>
        </div>

        <% places.forEach(function(place) { %>
            <div class="body-row">

                <%-include('../templates/placeAttributes', {place: place, placeAttributes: placeAttributes, attributeClass: "place-col", isCompareClass: false}); %>

                <div class="col-size-2">
                    <a class="link-button" href="/place/<%=encodeURIComponent(JSON.stringify({id: place.id, amenity: place.amenity}))%>">
                        <img title="show place" alt="show place" src="../../public/style/assets/icon-show.png">
                    </a>
                    <a class="link-button" href="place-delete/<%=place.id%>">
                        <img title="delete place" alt="delete place" src="../../public/style/assets/icon-delete.png">
                    </a>
                </div>
            </div>  
        <% }); %>
    <% } %>
</div>