<%- include('../templates/header'); -%>

<div class="content">

    <div class="row-end">
        <% if(placeOSM == undefined) { %>
        <a class="link-button button" href="/place-update-preview/<%=place.id%>">
            <img title="update place" alt="update place" src="../../public/style/assets/icon-update.png">
        </a>
        <% } %>
        <a class="button" href='/place-index'>back</a>
    </div>

    <div class="row-center">

        <div class="place-card-col">
            <h3>
                attributes
            </h3>
            <hr>
            <% for (let i = 0 ; i < placeAttributes.length; i++ ) { %>
                <div class="place-row" data-tooltip="<%=placeAttributes[i]%>">
                    <b><%=placeAttributes[i]%></b>
                </div>

            <% } %>
        </div>

        <div class="place-card-col">
            <h3>
                current place
            </h3>
            <hr>

            <%-include('../templates/placeAttributes', {place: place, placeAttributes: placeAttributes, attributeClass: 'place-row', isCompareClass: false}); %>
        </div>
        
        <% if(placeOSM != undefined) { %>
            <div class="place-card-col">
                <h3>
                    new place
                </h3>
                <hr>

                <%-include('../templates/placeAttributes', {place: placeOSM, placeAttributes: placeAttributes, attributeClass: 'place-row', isCompareClass: true, otherPlace: place}); %>
            </div>
        <% } %>
    </div>
</div> 