
<% if (Object.values(placecols).indexOf('id') != -1 ) { %>
    <div class="col-size-1 row-0"   data-tooltip=   "<%= place.id %>"                   ><%= place.id %></div>
<% } %>

<% if (Object.values(placecols).indexOf('name') != -1 ) { %>
    <div class="col-size-1 row-1"   data-tooltip=   "<%= place.name %>"                 ><%= place.name %></div>
<% } %>

<% if (Object.values(placecols).indexOf('lat') != -1 ) { %>
    <div class="col-size-1 row-6"   data-tooltip=   "<%= place.lat %>"                  ><%= place.lat %></div>
<% } %>

<% if (Object.values(placecols).indexOf('long') != -1 ) { %>
    <div class="col-size-1 row-7"   data-tooltip=   "<%= place.long %>"                 ><%= place.long %></div>
<% } %>

<% if (Object.values(placecols).indexOf('city') != -1 ) { %>
    <div class="col-size-1 row-8"   data-tooltip=   "<%= place.city %>"                 ><%= place.city %></div>
<% } %>

<% if (Object.values(placecols).indexOf('postcode') != -1 ) { %>
    <div class="col-size-1 row-9"   data-tooltip=   "<%= place.postcode %>"             ><%= place.postcode %></div>
<% } %>

<% if (Object.values(placecols).indexOf('street') != -1 ) { %>
    <div class="col-size-1 row-10"  data-tooltip=   "<%= place.street %>"               ><%= place.street %></div>
<% } %>

<% if (Object.values(placecols).indexOf('housenumber') != -1 ) { %>
    <div class="col-size-1 row-11"  data-tooltip=   "<%= place.housenumber %>"          ><%= place.housenumber %></div>
<% } %>

<% if (Object.values(placecols).indexOf('operator') != -1 ) { %>
    <div class="col-size-1 row-3"   data-tooltip=   "<%= place.operator %>"             ><%= place.operator %></div>
<% } %>

<% if (Object.values(placecols).indexOf('website') != -1 ) { %>
    <div class="col-size-1 row-4"   data-tooltip=   "<%= place.website %>"              ><%= place.website %></div>
<% } %>

<% if (Object.values(placecols).indexOf('phone') != -1 ) { %>
    <div class="col-size-1 row-2"   data-tooltip=   "<%= place.phone %>"                ><%= place.phone %></div>
<% } %>

<% if (Object.values(placecols).indexOf('opening_hours') != -1 ) { %>
    <div class="col-size-1 row-5"   data-tooltip=   "<%= place.opening_hours %>"        ><%= place.opening_hours %></div>  
<% } %>
    
<% if (Object.values(placecols).indexOf('brand') != -1 ) { %>
    <div class="col-size-1 row-5"   data-tooltip=   "<%= place.brand %>"                ><%= place.brand %></div>  
<% } %>

<% if (Object.values(placecols).indexOf('smoking') != -1 ) { %>
    <div class="col-size-1 row-5"   data-tooltip=   "<%= place.smoking %>"              ><%= place.smoking %></div>  
<% } %>

<% if (Object.values(placecols).indexOf('self_service') != -1 ) { %>
    <div class="col-size-1 row-5"   data-tooltip=   "<%= place.self_service %>"         ><%= place.self_service %></div>  
<% } %>

<% if (Object.values(placecols).indexOf('wheelchair') != -1 ) { %>
    <div class="col-size-1 row-12"  data-tooltip=   "<%= place.wheelchair %>"           ><%= place.wheelchair %></div>
<% } %>

<% if (Object.values(placecols).indexOf('outdoor_seating') != -1 ) { %>
    <div class="col-size-1 row-13"  data-tooltip=   "<%= place.outdoor_seating %>"      ><%= place.outdoor_seating %></div>
<% } %>

<% if (Object.values(placecols).indexOf('outdoor_seating') != -1 ) { %>
    <div class="col-size-1 row-14"  data-tooltip=   "<%= place.outdoor_seating %>"      ><%= place.outdoor_seating %></div>    
<% } %>

<% if (Object.values(placecols).indexOf('indoor_seating') != -1 ) { %>
    <div class="col-size-1 row-14"  data-tooltip=   "<%= place.indoor_seating %>"       ><%= place.indoor_seating %></div>    
<% } %>

<% if (Object.values(placecols).indexOf('dog') != -1 ) { %>
    <div class="col-size-1 row-14"  data-tooltip=   "<%= place.dog %>"                  ><%= place.dog %></div>   
<% } %>

<% if (Object.values(placecols).indexOf('cuisine') != -1 ) { %>
    <div class="col-size-1 row-15"  data-tooltip=   "<%= place.cuisine %>"              ><%= place.cuisine %></div>
<% } %>

<% if (Object.values(placecols).indexOf('lunch') != -1 ) { %>
    <div class="col-size-1 row-16"  data-tooltip=   "<%= place.lunch %>"                ><%= place.lunch %></div>
<% } %>

<% if (Object.values(placecols).indexOf('organic') != -1 ) { %>
    <div class="col-size-1 row-17"  data-tooltip=   "<%= place.organic %>"              ><%= place.organic %></div>
<% } %>

<% if (Object.values(placecols).indexOf('takeaway') != -1 ) { %>
    <div class="col-size-1 row-18"  data-tooltip=   "<%= place.takeaway %>"             ><%= place.takeaway %></div>   
<% } %>

<% if (Object.values(placecols).indexOf('ice_cream') != -1 ) { %>
    <div class="col-size-1 row-18"  data-tooltip=   "<%= place.ice_cream %>"            ><%= place.ice_cream %></div>   
<% } %>

<% if (Object.values(placecols).indexOf('bakery') != -1 ) { %>
    <div class="col-size-1 row-18"  data-tooltip=   "<%= place.bakery %>"               ><%= place.bakery %></div>   
<% } %>

<% if (Object.values(placecols).indexOf('pastry') != -1 ) { %>
    <div class="col-size-1 row-18"  data-tooltip=   "<%= place.pastry %>"               ><%= place.pastry %></div>   
<% } %>

<% if (Object.values(placecols).indexOf('diet_kosher') != -1 ) { %>
    <div class="col-size-1 row-19"  data-tooltip=   "<%= place.diet_kosher %>"          ><%= place.diet_kosher %></div>
<% } %>

<% if (Object.values(placecols).indexOf('diet_diabetes') != -1 ) { %>
    <div class="col-size-1 row-20"  data-tooltip=   "<%= place.diet_diabetes %>"        ><%= place.diet_diabetes %></div>
<% } %>

<% if (Object.values(placecols).indexOf('diet_halal') != -1 ) { %>
    <div class="col-size-1 row-21"  data-tooltip=   "<%= place.diet_halal %>"           ><%= place.diet_halal %></div>
<% } %>

<% if (Object.values(placecols).indexOf('diet_vegan') != -1 ) { %>
    <div class="col-size-1 row-22"  data-tooltip=   "<%= place.diet_vegan %>"           ><%= place.diet_vegan %></div>
<% } %>

<% if (Object.values(placecols).indexOf('diet_vegetarian') != -1 ) { %>
    <div class="col-size-1 row-23"  data-tooltip=   "<%= place.diet_vegetarian%>"       ><%= place.diet_vegetarian %></div>
<% } %>
