<!--
    template for place attributes
    only shows attributes if in list "placeAttributes" 
    styles according to parameters "attributeClass" and "isCompareClass" 
-->

<!-- 
    place attributes 
-->
<% if (Object.values(placeAttributes).indexOf('id') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-id <% if(isCompareClass==true){ if(place.id != otherPlace.id){ %>data-changed<% } }%>"        data-tooltip= "<%= place.id %>">
        <%= place.id == undefined || null? '-' : place.id %>
    </div>
<% } %>

<% if (Object.values(placeAttributes).indexOf('name') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-name <% if(isCompareClass==true){ if(place.name != otherPlace.name){ %>data-changed<% } }%>"  data-tooltip=   "<%= place.name %>">
        <%= place.name == undefined || null? '-' : place.name %>
    </div>
<% } %>

<% if (Object.values(placeAttributes).indexOf('node') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-node <% if(isCompareClass==true){ if(place.node != otherPlace.node){ %>data-changed<% } }%>"             data-tooltip=   "<%= place.node %>">
        <%= place.node == undefined || null? '-' : place.node %>
    </div>
<% } %>

<% if (Object.values(placeAttributes).indexOf('updated') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-updated <% if(isCompareClass==true){ if(place.updated != otherPlace.updated){ %>data-changed<% } }%>" data-tooltip=   "<%= place.updated %>">
        <%= place.updated == undefined || null? '-' : place.updated %>
    </div>
<% } %>

<% if (Object.values(placeAttributes).indexOf('lat') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-lat <% if(isCompareClass==true){ if(place.lat != otherPlace.lat){ %>data-changed<% } }%>"              data-tooltip=   "<%= place.lat %>">
        <%= place.lat == undefined || null? '-' : place.lat %>
    </div>
<% } %>

<% if (Object.values(placeAttributes).indexOf('long') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-long <% if(isCompareClass==true){ if(place.long != otherPlace.long){ %>data-changed<% } }%>"             data-tooltip=   "<%= place.long %>">
        <%= place.long == undefined || null? '-' : place.long %>
    </div>
<% } %>

<% if (Object.values(placeAttributes).indexOf('city') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-city <% if(isCompareClass) { if (place.city != placeOSM.city){ %> data-changed <% } }%>" data-tooltip=   "<%= place.city %>">
        <%= place.city == undefined || null? '-' : place.city %>
    </div>
<% } %>

<% if (Object.values(placeAttributes).indexOf('postcode') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-postcode <% if(isCompareClass==true){ if(place.postcode != otherPlace.postcode){ %>data-changed<% } }%>"         data-tooltip=   "<%= place.postcode %>">
        <%= place.postcode== undefined || null? '-' : place.postcode %>
    </div>
<% } %>

<% if (Object.values(placeAttributes).indexOf('street') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-street <% if(isCompareClass==true){ if(place.street != otherPlace.street){ %>data-changed<% } }%>"           data-tooltip=   "<%= place.street %>">
        <%= place.street == undefined || null? '-' : place.street %>
    </div>
<% } %>

<% if (Object.values(placeAttributes).indexOf('housenumber') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-housenumber <% if(isCompareClass==true){ if(place.housenumber != otherPlace.housenumber){ %>data-changed<% } }%>"      data-tooltip=   "<%= place.housenumber %>">
        <%= place.housenumber == undefined || null? '-' : place.housenumber %>
    </div>
<% } %>

<!-- 
    individual attributes
 -->
 <% if (Object.values(placeAttributes).indexOf('old_name') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-old_name <% if(isCompareClass==true){ if(place.old_name != otherPlace.old_name){ %>data-changed<% } }%>"            data-tooltip=   "<%= place.old_name %>">
        <%= place.old_name == undefined || null? '-' : place.old_name %>
    </div>
<% } %>

 <% if (Object.values(placeAttributes).indexOf('description') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-description <% if(isCompareClass==true){ if(place.description != otherPlace.description){ %>data-changed<% } }%>"            data-tooltip=   "<%= place.description %>">
        <%= place.description == undefined || null? '-' : place.description %>
    </div>
<% } %>

<% if (Object.values(placeAttributes).indexOf('note') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-note <% if(isCompareClass==true){ if(place.note != otherPlace.note){ %>data-changed<% } }%>"            data-tooltip=   "<%= place.note %>">
        <%= place.note == undefined || null? '-' : place.note %>
    </div>
<% } %>

<% if (Object.values(placeAttributes).indexOf('email') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-email <% if(isCompareClass==true){ if(place.email != otherPlace.email){ %>data-changed<% } }%>"            data-tooltip=   "<%= place.email %>">
        <%= place.email == undefined || null? '-' : place.email %>
    </div>
<% } %>

<% if (Object.values(placeAttributes).indexOf('operator') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-operator <% if(isCompareClass==true){ if(place.operator != otherPlace.operator){ %>data-changed<% } }%>"         data-tooltip=   "<%= place.operator %>">
        <%= place.operator == undefined || null? '-' : place.operator %>
    </div>
<% } %>

<% if (Object.values(placeAttributes).indexOf('website') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-website <% if(isCompareClass==true){ if(place.website != otherPlace.website){ %>data-changed<% } }%>"          data-tooltip=   "<%= place.website %>">
        <%= place.website == undefined || null? '-' : place.website %>
    </div>
<% } %>

<% if (Object.values(placeAttributes).indexOf('phone') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-phone <% if(isCompareClass==true){ if(place.phone != otherPlace.phone){ %>data-changed<% } }%>"            data-tooltip=   "<%= place.phone %>">
        <%= place.phone == undefined || null? '-' : place.phone %>
    </div>
<% } %>

<% if (Object.values(placeAttributes).indexOf('brand') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-brand <% if(isCompareClass==true){ if(place.brand != otherPlace.brand){ %>data-changed<% } }%>"            data-tooltip=   "<%= place.brand %>">
        <%= place.brand == undefined || null? '-' : place.brand %>
    </div>  
<% } %>

<% if (Object.values(placeAttributes).indexOf('network') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-network <% if(isCompareClass==true){ if(place.network != otherPlace.network){ %>data-changed<% } }%>"            data-tooltip=   "<%= place.network %>">
        <%= place.network == undefined || null? '-' : place.network %>
    </div>  
<% } %>

<% if (Object.values(placeAttributes).indexOf('level') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-level <% if(isCompareClass==true){ if(place.level != otherPlace.level){ %>data-changed<% } }%>"            data-tooltip=   "<%= place.level %>">
        <%= place.level == undefined || null? '-' : place.level %>
    </div>  
<% } %>

<% if (Object.values(placeAttributes).indexOf('cash_in') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-cash_in <% if(isCompareClass==true){ if(place.cash_in != otherPlace.cash_in){ %>data-changed<% } }%>"            data-tooltip=   "<%= place.cash_in %>">
        <%= place.cash_in == undefined || null? '-' : place.cash_in %>
    </div>  
<% } %>

<% if (Object.values(placeAttributes).indexOf('indoor') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-indoor <% if(isCompareClass==true){ if(place.indoor != otherPlace.network){ %>data-changed<% } }%>"            data-tooltip=   "<%= place.indoor %>">
        <%= place.indoor == undefined || null? '-' : place.indoor %>
    </div>  
<% } %>

<% if (Object.values(placeAttributes).indexOf('man_made') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-man_made <% if(isCompareClass==true){ if(place.man_made != otherPlace.man_made){ %>data-changed<% } }%>"            data-tooltip=   "<%= place.man_made %>">
        <%= place.man_made == undefined || null? '-' : place.man_made %>
    </div>  
<% } %>

<% if (Object.values(placeAttributes).indexOf('opening_hours') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-opening_hours <% if(isCompareClass==true){ if(place.opening_hours != otherPlace.opening_hours){ %>data-changed<% } }%>"    data-tooltip=   "<%= place.opening_hours %>">
        <%= place.opening_hours == undefined || null? '-' : place.opening_hours %>
    </div>  
<% } %>

<% if (Object.values(placeAttributes).indexOf('healthcare') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-healthcare <% if(isCompareClass==true){ if(place.healthcare != otherPlace.healthcare){ %>data-changed<% } }%>"    data-tooltip=   "<%= place.healthcare %>">
        <%= place.healthcare == undefined || null? '-' : place.healthcare %>
    </div>  
<% } %>

<% if (Object.values(placeAttributes).indexOf('speciality') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-speciality <% if(isCompareClass==true){ if(place.speciality != otherPlace.speciality){ %>data-changed<% } }%>"    data-tooltip=   "<%= place.speciality %>">
        <%= place.speciality == undefined || null? '-' : place.speciality %>
    </div>  
<% } %>

<% if (Object.values(placeAttributes).indexOf('emergency') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-emergency <% if(isCompareClass==true){ if(place.emergency != otherPlace.emergency){ %>data-changed<% } }%>"    data-tooltip=   "<%= place.emergency %>">
        <%= place.emergency == undefined || null? '-' : place.emergency %>
    </div>  
<% } %>

<% if (Object.values(placeAttributes).indexOf('grades') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-grades <% if(isCompareClass==true){ if(place.grades != otherPlace.grades){ %>data-changed<% } }%>"    data-tooltip=   "<%= place.grades %>">
        <%= place.grades == undefined || null? '-' : place.grades %>
    </div>  
<% } %>

<% if (Object.values(placeAttributes).indexOf('isced') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-isced <% if(isCompareClass==true){ if(place.isced != otherPlace.isced){ %>data-changed<% } }%>"    data-tooltip=   "<%= place.isced %>">
        <%= place.isced == undefined || null? '-' : place.isced %>
    </div>  
<% } %>

<% if (Object.values(placeAttributes).indexOf('smoking') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-smoking <% if(isCompareClass==true){ if(place.smoking != otherPlace.smoking){ %>data-changed<% } }%>"          data-tooltip=   "<%= place.smoking %>">
        <%= place.smoking == undefined || null? '-' : place.smoking %>
    </div>  
<% } %>

<% if (Object.values(placeAttributes).indexOf('internet_access') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-internet_access <% if(isCompareClass==true){ if(place.internet_access != otherPlace.internet_access){ %>data-changed<% } }%>"          data-tooltip=   "<%= place.internet_access %>">
        <%= place.internet_access == undefined || null? '-' : place.internet_access %>
    </div>  
<% } %>

<% if (Object.values(placeAttributes).indexOf('internet_access_fee') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-internet_access_fee <% if(isCompareClass==true){ if(place.internet_access_fee != otherPlace.internet_access_fee){ %>data-changed<% } }%>"          data-tooltip=   "<%= place.internet_access_fee %>">
        <%= place.internet_access_fee == undefined || null? '-' : place.internet_access_fee %>
    </div>  
<% } %>

<% if (Object.values(placeAttributes).indexOf('self_service') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-self_service <% if(isCompareClass==true){ if(place.self_service != otherPlace.self_service){ %>data-changed<% } }%>"     data-tooltip=   "<%= place.self_service %>">
        <%= place.self_service == undefined || null? '-' : place.self_service %>
    </div>  
<% } %>

<% if (Object.values(placeAttributes).indexOf('drive_through') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-drive_through <% if(isCompareClass==true){ if(place.drive_through != otherPlace.drive_through){ %>data-changed<% } }%>"     data-tooltip=   "<%= place.drive_through %>">
        <%= place.drive_through == undefined || null? '-' : place.drive_through %>
    </div>  
<% } %>

<% if (Object.values(placeAttributes).indexOf('drive_in') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-drive_in <% if(isCompareClass==true){ if(place.drive_in != otherPlace.drive_in){ %>data-changed<% } }%>"     data-tooltip=   "<%= place.drive_in %>">
        <%= place.drive_in == undefined || null? '-' : place.drive_in %>
    </div>  
<% } %>

<% if (Object.values(placeAttributes).indexOf('office') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-office <% if(isCompareClass==true){ if(place.office != otherPlace.office){ %>data-changed<% } }%>"       data-tooltip=   "<%= place.office %>">
        <%= place.office == undefined || null? '-' : place.office %>
    </div>
<% } %>

<% if (Object.values(placeAttributes).indexOf('wheelchair') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-wheelchair <% if(isCompareClass==true){ if(place.wheelchair != otherPlace.wheelchair){ %>data-changed<% } }%>"       data-tooltip=   "<%= place.wheelchair %>">
        <%= place.wheelchair == undefined || null? '-' : place.wheelchair %>
    </div>
<% } %>

<% if (Object.values(placeAttributes).indexOf('surveillence') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-surveillence <% if(isCompareClass==true){ if(place.surveillence != otherPlace.surveillence){ %>data-changed<% } }%>"       data-tooltip=   "<%= place.surveillence %>">
        <%= place.surveillence == undefined || null? '-' : place.surveillence %>
    </div>
<% } %>

<% if (Object.values(placeAttributes).indexOf('outdoor_seating') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-outdoor_seating <% if(isCompareClass==true){ if(place.outdoor_seating != otherPlace.outdoor_seating){ %>data-changed<% } }%>"  data-tooltip=   "<%= place.outdoor_seating %>">
        <%= place.outdoor_seating == undefined || null? '-' : place.outdoor_seating %>
    </div>
<% } %>

<% if (Object.values(placeAttributes).indexOf('indoor_seating') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-indoor_seating <% if(isCompareClass==true){ if(place.indoor_seating != otherPlace.indoor_seating){ %>data-changed<% } }%>"   data-tooltip=   "<%= place.indoor_seating %>" >
        <%= place.indoor_seating == undefined || null? '-' : place.indoor_seating %>
    </div>    
<% } %>

<% if (Object.values(placeAttributes).indexOf('capacity') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-capacity <% if(isCompareClass==true){ if(place.capacity != otherPlace.capacity){ %>data-changed<% } }%>"   data-tooltip=   "<%= place.capacity %>" >
        <%= place.capacity == undefined || null? '-' : place.capacity %>
    </div>    
<% } %>

<% if (Object.values(placeAttributes).indexOf('dog') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-dog <% if(isCompareClass==true){ if(place.dog != otherPlace.dog){ %>data-changed<% } }%>"              data-tooltip=   "<%= place.dog %>" >
        <%= place.dog == undefined || null? '-' : place.dog %>
    </div>   
<% } %>

<% if (Object.values(placeAttributes).indexOf('cuisine') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-cuisine <% if(isCompareClass==true){ if(place.cuisine != otherPlace.cuisine){ %>data-changed<% } }%>"          data-tooltip=   "<%= place.cuisine %>" >
        <%= place.cuisine == undefined || null? '-' : place.cuisine %>
    </div>
<% } %>

<% if (Object.values(placeAttributes).indexOf('lunch') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-lunch <% if(isCompareClass==true){ if(place.lunch != otherPlace.lunch){ %>data-changed<% } }%>"            data-tooltip=   "<%= place.lunch %>" >
        <%= place.lunch == undefined || null? '-' : place.lunch %>
    </div>
<% } %>

<% if (Object.values(placeAttributes).indexOf('organic') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-organic <% if(isCompareClass==true){ if(place.organic != otherPlace.organic){ %>data-changed<% } }%>"          data-tooltip=   "<%= place.organic %>" >
        <%= place.organic == undefined || null? '-' : place.organic %>
    </div>
<% } %>

<% if (Object.values(placeAttributes).indexOf('takeaway') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-takeaway <% if(isCompareClass==true){ if(place.takeaway != otherPlace.takeaway){ %>data-changed<% } }%>"         data-tooltip=   "<%= place.takeaway %>" >
        <%= place.takeaway == undefined || null? '-' : place.takeaway %>
    </div>   
<% } %>

<% if (Object.values(placeAttributes).indexOf('brewery') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-brewery <% if(isCompareClass==true){ if(place.brewery != otherPlace.brewery){ %>data-changed<% } }%>"         data-tooltip=   "<%= place.brewery %>" >
        <%= place.brewery == undefined || null? '-' : place.brewery %>
    </div>   
<% } %>

<% if (Object.values(placeAttributes).indexOf('delivery') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-delivery <% if(isCompareClass==true){ if(place.delivery != otherPlace.delivery){ %>data-changed<% } }%>"         data-tooltip=   "<%= place.delivery %>" >
        <%= place.delivery == undefined || null? '-' : place.delivery %>
    </div>   
<% } %>

<% if (Object.values(placeAttributes).indexOf('ice_cream') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-ice_cream <% if(isCompareClass==true){ if(place.ice_cream != otherPlace.ice_cream){ %>data-changed<% } }%>"        data-tooltip=   "<%= place.ice_cream %>" >
        <%= place.ice_cream == undefined || null? '-' : place.ice_cream %>
    </div>   
<% } %>

<% if (Object.values(placeAttributes).indexOf('bakery') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-bakery <% if(isCompareClass==true){ if(place.bakery != otherPlace.bakery){ %>data-changed<% } }%>"           data-tooltip=   "<%= place.bakery %>" >
        <%= place.bakery == undefined || null? '-' : place.bakery %>
    </div>   
<% } %>

<% if (Object.values(placeAttributes).indexOf('pastry') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-pastry <% if(isCompareClass==true){ if(place.pastry != otherPlace.pastry){ %>data-changed<% } }%>"           data-tooltip=   "<%= place.pastry %>" >
        <%= place.pastry == undefined || null? '-' : place.pastry %>
    </div>   
<% } %>

<% if (Object.values(placeAttributes).indexOf('diet_kosher') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-diet_kosher <% if(isCompareClass==true){ if(place.diet_kosher != otherPlace.diet_kosher){ %>data-changed<% } }%>"      data-tooltip=   "<%= place.diet_kosher %>" >
        <%= place.diet_kosher == undefined || null? '-' : place.diet_kosher %>
    </div>
<% } %>

<% if (Object.values(placeAttributes).indexOf('diet_diabetes') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-diet_diabetes <% if(isCompareClass==true){ if(place.diet_diabetes != otherPlace.diet_diabetes){ %>data-changed<% } }%>"    data-tooltip=   "<%= place.diet_diabetes %>" >
        <%= place.diet_diabetes == undefined || null? '-' : place.diet_diabetes %>
    </div>
<% } %>

<% if (Object.values(placeAttributes).indexOf('diet_halal') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-diet_halal <% if(isCompareClass==true){ if(place.diet_halal != otherPlace.diet_halal){ %>data-changed<% } }%>"       data-tooltip=   "<%= place.diet_halal %>" >
        <%= place.diet_halal == undefined || null? '-' : place.diet_halal %>
    </div>
<% } %>

<% if (Object.values(placeAttributes).indexOf('diet_vegan') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-diet_vegan <% if(isCompareClass==true){ if(place.diet_vegan != otherPlace.diet_vegan){ %>data-changed<% } }%>"       data-tooltip=   "<%= place.diet_vegan %>" >
        <%= place.diet_vegan == undefined || null? '-' : place.diet_vegan %>
    </div>
<% } %>

<% if (Object.values(placeAttributes).indexOf('diet_vegetarian') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-diet_vegetarian <% if(isCompareClass==true){ if(place.diet_vegetarian != otherPlace.diet_vegetarian){ %>data-changed<% } }%>"  data-tooltip=   "<%= place.diet_vegetarian%>" >
        <%= place.diet_vegetarian == undefined || null? '-' : place.diet_vegetarian %>
    </div>
<% } %>

<% if (Object.values(placeAttributes).indexOf('wikipedia') != -1 ) { %>
    <div class="<%= attributeClass %> table-cell-wikipedia <% if(isCompareClass==true){ if(place.wikipedia != otherPlace.wikipedia){ %>data-changed<% } }%>"  data-tooltip=   "<%= place.wikipedia%>" >
        <%= place.wikipedia == undefined || null? '-' : place.wikipedia %>
    </div>
<% } %>
